<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ezen.myBatis.MemberMapper">
  
<!--   <select id="memberList" resultType="model.MemberDTO"> -->
  <select id="memberList" resultType="memberDTO">
    select * from member
  </select>
  
  <insert id="memberInsert" parameterType="memberDTO">
  	INSERT INTO member(id, pw, name ,age, email, tel, 
  	zipcode, road_addr, jibun_addr, detail_addr)
  	
  	VALUES(#{id}, #{pw},#{name},#{age},#{email},#{tel},
  	#{zipcode},#{roadAddr},#{jibunAddr},#{dtailAddr})
  </insert>
  
  <delete id="deleteMember" parameterType="Integer">
  	DELETE FROM member WHERE no = #{no}
  </delete>
  
  <select id="memberInfo" parameterType="Integer" resultType="memberDTO">
    SELECT * FROM member WHERE no = #{no}
  </select>
  
  <update id="memberUpdate" parameterType="memberDTO">
  	UPDATE member SET age=#{age}, email=#{email}, 
  	    tel=#{tel} WHERE no = #{no}
  </update>
  
</mapper>